<%# resource_cache(resource) do %>
<%
options = @rental_property.content_options
has_options = options.try(:any?)
tags = []
tags << realty_meta_tag("bedroom_count", @rental_property.bedroom_count)
tags << realty_meta_tag("bathroom_count", @rental_property.bathroom_count)
tags << realty_meta_tag("min_price", rental_min_price_value(@rental_property))
if @rental_property.area.present?
  tags << realty_meta_tag("area", @rental_property.area.name)
end
if @rental_property.children_policy.present?
  tags << realty_meta_tag("children_policy", @rental_property.children_policy)
end
if @rental_property.pets_policy.present?
  tags << realty_meta_tag("pets_policy", @rental_property.pets_policy)
end
@rental_property.content_options.each do |o|
  tags << "<strong>#{o.option_type.presentation}: </strong>#{o.option_value.presentation}"
end

flags = []
if @rental_property.area.present?
  flags << @rental_property.area.name
  flags << @rental_property.area.city.name
end
if @rental_property.meta and @rental_property.meta.code.present?
  flags << @rental_property.meta.code
end
%>

<%= render "filter" %>

<article class="property rental-property">
  <!-- Header
  ================================================== -->
  <div class='row'>
    <div class='col-sm-8'>
      <h1><%= @rental_property.title %></h1>
      <%= flags.compact.join(" - ").html_safe %>
    </div>
    <div class='col-sm-4'>
        <p class="property-min-price"><%= t(:'realty.price_from') %><%= rental_min_price_value(@rental_property) %> / <%= t("week")%></p>
        <% if @rental_property.meta.badge %>
        <p class="property-status property-badge"><%= raw @rental_property.meta.badge %></p>
        <% end %>
        <% if @rental_property.meta.info_title %>
        <p class="property-status property-info"><%= raw @rental_property.meta.info_title %></p>
        <% end %>
        <% if @rental_property.meta.end_display %>
        <p class="property-status"><%= raw t("realty.coup_de_cœur") %></p>
        <% end %>
    </div>
  </div>
  <div class='row row-padded'>
    <div class='col-sm-12'>
      <!-- Slider
      ================================================== -->
      <%= render "page_slider", :images => resource.images %>
    </div>
  </div>

  <div class='row'>

    <div class="col-sm-8 left-col">

      <div class='row row-padded'>
        <div class='col-sm-12'>
          <h3 class="h4 text-uppercase"><%= t(:'realty.specificities') %></h3>
        </div>
      </div>
        <!-- Detail
        ================================================== -->
      <div class='row'>
        <div class='col-sm-6'>
          <ul class="unstyled nav stickers-nav">
            <%= tags.compact.join("<br/>").html_safe %>
         </ul>
        </div>

        <div class='col-sm-6'>
          <ul class="unstyled nav stickers-nav">
          <% @rental_property.stickers.translated.each do |s| %>
            <li class="property-sticker <%= s.css %>"><%= s.name %></li>
          <% end %>
          </ul>
        </div>
      </div>

      <hr class="hr-border-primary">

      <!-- Description
      ================================================== -->
      <div class='row row-padded'>
        <div class='col-sm-12'>
          <%= render_copy_text(resource.meta.description) %>
          <%= render_copy_text(resource.body) %>
          <% if @rental_property.meta and @rental_property.meta.video_url.present? %>
            <br/>
            <div class="embed-responsive embed-responsive-16by9 hidden-print">
              <iframe src="//player.vimeo.com/video/<%= @rental_property.meta.video_url %>"></iframe>
            </div>
          <% end %>
        </div>
      </div>

      <hr class="hr-border-primary">

      <!-- Rates
      ================================================== -->
      <div class='row row-padded'>
        <div class='col-sm-12'>
          <h3 class="h4"><%= t(:'rates') %></h3>
          <%= render 'rental_properties/seasons' %>
        </div>
      </div>

      <!-- Socials
      ================================================== -->
      <div class='row row-padded'>
        <div class='col-sm-12'>
          <%= render 'share_links' %>
        </div>
      </div>

    </div>

    <!-- Right column
    ================================================== -->
    <div class="col-sm-4 right-col row-padded">
      <!-- Contact form
      ================================================== -->
      <h3 class="h4 text-uppercase"><%= t(:'realty.request_availability') %></h3>
      <%= render :partial => 'rental_property_inquiries/form' %>
      <!-- Map
      ================================================== -->
      <%#= render('google_map', :point => @rental_property.lat_long) if @rental_property.lat_long.present? %>
      <%= content_tag(:div, "", :class => "map-canvas", :data => { :point => @rental_property.lat_long }) if @rental_property.lat_long.present? %>
    </div>
  </div>
</article>
<%# end %>
